/*
*Listening Environments styles
*/
.listening-environments-tab-content{
	.listening-environments-heading{
		margin-top: 0;
		padding-top: 0;
		padding-bottom: 0;
		line-height: normal;
		.hdg-lt-36{
			margin-top: 0;
			margin-bottom: 15px;
			padding: 0;
			line-height: normal;
		}
	}
	p, h4{
		margin-top: 0;
		padding: 0;
		line-height: normal;
		&.listening-environment-intro{
			font-size: 24px;
			font-family: 'proxima-nova-regular';
		}
	}
}
.listening-environments-block{
	.listening-introduction{
		color:$oil;
		font-size:22px;
		line-height: 30px;
			
	}
	.listening-environments-content-area{
		.listening-image-text-block{
			margin-bottom:20px;
			border-bottom:1px solid $hp-light-gray;
			padding-bottom:20px;
			&:last-child {
				@media #{$large-up} {
					margin-bottom: 0;
					padding-bottom: 0;
				}
				border-bottom: none;
			}
			.listening-image-block{
				@media #{$small-only} {
					text-align:center;
				}
				.listening-image{
					padding-top: 5px;
				}
			}
		}	
		.listening-text-block{
			padding:0px 0px 0px 30px;
			@media #{$small-only} {
				padding: 0;
			}
			.listening-headding{
				font-size:18px;
				color:$oil;
				font-weight:bold;
				margin:0px;
				padding-bottom: 15px;
				@media #{$small-only} {
					padding: 10px 0px 0px 0px;
				}
			}
			
			.listening-text{
				font-size:16px;
				font-family: 'proxima-nova-light';
				color:$oil;
				margin-bottom: 25px;
				@media #{$medium-only} {
					padding-right:30px;
				}
			}
			.button-block{
				.button{
					margin: 0;
				}
				@media #{$small-only} {
					text-align:center;
				}
				
			}
		}
	}
}
